---
sudo: required
language: python
python:
  - "3.6"
  # - "2.7"
env:
  - MOLECULE_SCENARIO=ubuntu1604
  - MOLECULE_SCENARIO=ubuntu1804
  - MOLECULE_SCENARIO=ubuntu1810
  - MOLECULE_SCENARIO=ubuntu1904
  - MOLECULE_SCENARIO=centos76
  - MOLECULE_SCENARIO=centos74
  - MOLECULE_SCENARIO=fedora29
  - MOLECULE_SCENARIO=alpine38
  - MOLECULE_SCENARIO=amazonlinux
  - MOLECULE_SCENARIO=oraclelinux
  - MOLECULE_SCENARIO=opensuseleap
  - MOLECULE_SCENARIO=opensusetumbleweed
  - MOLECULE_SCENARIO=debianjessie
services:
  - docker
before_install:
  - sudo apt-get -qq update
install:
  - virtualenv --python=$(which python3.6) envmolecule
  # - virtualenv --python=$(which python2.7) envmolecule
  - source envmolecule/bin/activate
  - pip install -r requirements.txt
script:
  - molecule lint --scenario-name ${MOLECULE_SCENARIO}
  - molecule destroy --scenario-name ${MOLECULE_SCENARIO}
  - molecule dependency --scenario-name ${MOLECULE_SCENARIO}
  - molecule syntax --scenario-name ${MOLECULE_SCENARIO}
  - molecule create --scenario-name ${MOLECULE_SCENARIO}
  - molecule prepare --scenario-name ${MOLECULE_SCENARIO}
  - molecule converge --scenario-name ${MOLECULE_SCENARIO}
  - molecule side-effect --scenario-name ${MOLECULE_SCENARIO}
  - molecule verify --scenario-name ${MOLECULE_SCENARIO}
  - molecule destroy --scenario-name ${MOLECULE_SCENARIO}
notifications:
  email:
    on_success: never
    on_failure: always
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
